body {
	padding : 10px;

}
p {
	line-height : 175%;
}
h3 {
	line-height : 50%;
}
h1 {
	line-height : 120%;
}
select {
	padding : 3px 7px;
	text-align : center;
}
input {
	padding : 5px 10px;
}
table {
	border-collapse : collapse;
	border : 3px solid #070;
}
th,td {
	border : 1px solid #070;
	text-align : center;
	height : 30px;
}
td {
	height : 40px;
}
th {
	background-color : #ddd;
}
