
/*@media screen and (max-width: 320px){
body{
	margin-top: 30px;
	margin-left: 30px;
}
}*/

/*@media only screen and (min-width: 321px){*/

body{
	margin-left: 50px;
	background-color:#0ff;
}

.main{
	margin-top : 50px;
	margin-left: 30px;
	/*text-align : center;*/
	display:flex;
	justify-content: center; /*中央揃え*/
}

p {
	line-height: 175%;
}
h4 {
	margin-bottom: 0px;
}
h3 {
	line-height: 50%;
}
h1 {
	text-align:center;        
}


input,textarea {
	padding: 5px 10px;
	width : 300px;
}
textarea {
	width: 300px;
	height: 150px;
}
input[ type = "radio" ] {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	margin-right: 0.5em;
	/*margin:80%;*/
}

table {
	border-collapse: collapse;
	border: 3px solid #070;
	margin-left: auto;	/*テーブルの中央揃え*/
	margin-right: auto;	/*テーブルの中央揃え*/
	/*text-align:center;*/
	/*padding : em;
	width:100%;*/
}
th,td {
	border: 1px solid #070;
	text-align: center;
	height: 30px;
	width: 80px;
}
td {
	height: 40px;
}
th {
	background-color: #ddd;
}
.coltsugo {
	background-color: #ffc;

}
.colparticipant {
	background-color: #eff;
}
.p_comment {
	text-align: left;
	padding: 5px;
	width: 120px;
	font-size: 12px;
}
.delete_day_time {
	font-size: 20px;
}
.delete {
	color: #fff;
	background: #f33;
	padding: 5px;
	margin-bottom: 5px;
}

.float{
	float: left;	 /*みぎにまわりこむ*/
	margin-right: 50px;
}
.center{
	text-align:center;
}
/*}*/
